<h1>Recipes#new</h1>
<%= form_for :recipe, url: recipes_path do |r| %>
  <p>
    <%= r.label :name %><br>
    <%= r.text_field :name %>
  </p>

  <p>
    <%= r.label :description %><br>
    <%= r.text_area :description %>
  </p>

  <p>
    <%= r.submit %>
  </p>
<% end %>
<%= link_to 'Back', recipes_path %>
